@import "~common/styles/index";

.markdownRenderer {
  background-color: $theme-dark;
  width: 100%;
  height: calc(100% - 31px);
  margin-top: 31px;
  padding: 24px;
  font-size: 14px;
  border-top: 1px solid #505050;
  overflow: auto;
}
