@import "~common/styles/index";

.markdownRenderer {
  background-color: $theme-dark;
  width: 100%;
  height: 100%;
  margin-top: 32px;
  padding: 24px;
  font-size: 14px;
  border-bottom: 1px solid #505050;
}
