@import "~common/styles/index";

.toolbar-container {
  display:flex;
  align-items: stretch;
  justify-content: center;
  min-height: 32px;
  border-bottom: 1px solid rgb(36, 36, 36);
  border-top-color: rgb(36, 36, 36);
  border-right-color: rgb(36, 36, 36);
  border-left-color: rgb(36, 36, 36);
  // cursor: pointer;

  & button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover:enabled {
      background-color: $theme-dark;
    }

    & svg {
      margin-right: 5px;
    }

    &:hover:disabled {
      cursor:not-allowed;
    }
  }
}
