@import "~common/styles/index";

.player-container {
  .progress_bar {
    width: 160px;
  }
  
  display:flex;
  align-items: stretch;
  justify-content: center;
  min-height: 35px;
  border-bottom: 1px solid rgb(36, 36, 36);
  border-top-color: rgb(36, 36, 36);
  border-right-color: rgb(36, 36, 36);
  border-left-color: rgb(36, 36, 36);
  cursor: pointer;

  & button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover:enabled {
      background-color: $theme-dark;
    }

    & svg {
      margin-right: 5px;
    }

    &.btn-playing {
      color: #00e676;
      
      &:hover {
        cursor:not-allowed;
      }
    }

    &:hover:disabled {
      cursor:not-allowed;
    }
  }

  .speed {
    display: flex;
    align-items: center;
    padding: 0 12px;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: $color-shadow;
    }

    .range {
      position: relative;
      height: 16px;
      width: 60px;
      margin-left: 8px;
      -webkit-touch-callout: none;

      .range_label_container {
        display: none;
      }

      .range_track {
        top: 50%;
        height: 6px;
        margin-top: -3px;
        background-color: $theme-light;
        cursor: pointer;
        display: block;
        position: relative;
      }

      .range_slider {
        top: 0;
        width: 6px;
        height: 12px;
        margin-left: -3px;
        margin-top: -3px;
        appearance: none;
        background-color: $color-font;
        cursor: pointer;
        display: block;
        position: absolute;
      }
    }
  }
}
